@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h4 id="external-login-title">Associate Your @Model.ProviderDisplayName Account</h4>
<hr />

<p id="external-login-description" class="text-dark">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Please complete the registration form and click the Register button to
    complete the registration process.
</p>

<div class="container">
    <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row mb-4">
            <div class="col-md-6 form-group mb-3">
                <label class="mb-1" asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-3">
                <label class="mb-1" asp-for="Input.DateOfBirth"></label>
                <input asp-for="Input.DateOfBirth" class="form-control" />
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6 form-group mb-3">
                <label class="mb-1" asp-for="Input.SightCategory"></label>
                <br />
                <select class="w-100" asp-for="Input.SightCategory"
                        asp-items="@(Model.SightCategories)">
                    <option></option>
                </select>
                <span asp-validation-for="Input.SightCategory" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-3">
                <label class="mb-1" asp-for="Input.EmploymentStatus"></label>
                <br />
                <select class="w-100" asp-for="Input.EmploymentStatus"
                        asp-items="@(Model.EmploymentStatuses)">
                    <option></option>
                </select>
                <span asp-validation-for="Input.EmploymentStatus" class="text-danger"></span>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6 form-group mb-3">
                <label class="mb-1" asp-for="Input.JobTitle"></label>
                <input asp-for="Input.JobTitle" class="form-control" />
                <span asp-validation-for="Input.JobTitle" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-3">
                <label class="mb-1" asp-for="Input.Company"></label>
                <input asp-for="Input.Company" class="form-control" />
                <span asp-validation-for="Input.Company" class="text-danger"></span>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6 form-group mb-3">
                <label class="mb-1" asp-for="Input.Industry"></label>
                <input asp-for="Input.Industry" class="form-control" />
                <span asp-validation-for="Input.Industry" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-3">
                <label class="mb-1" asp-for="Input.WorkingSince"></label>
                <input asp-for="Input.WorkingSince" class="form-control" />
                <span asp-validation-for="Input.WorkingSince" class="text-danger"></span>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6 form-group mb-3">
                <label class="mb-1" asp-for="Input.BreakTime"></label>
                <input asp-for="Input.BreakTime" class="form-control" />
                <span asp-validation-for="Input.BreakTime" class="text-danger"></span>
            </div>
            <div class="col-md-6 align-self-end form-group mb-3">
                <label class="mb-1" asp-for="Input.WorkRoles"></label>
                <input asp-for="Input.WorkRoles" class="form-control" />
                <span asp-validation-for="Input.WorkRoles" class="text-danger"></span>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6 form-group mb-3">
                <label class="mb-1" asp-for="Input.Strengths"></label>
                <input asp-for="Input.Strengths" class="form-control" />
                <span asp-validation-for="Input.Strengths" class="text-danger"></span>
            </div>
            <div class="col-md-6 align-self-center form-group mb-3">
                <fieldset>
                    <legend>Are you a parent?</legend>
                    <div>
                        <input id="Yes" type="radio" asp-for="Input.IsParent" value="Yes" checked>
                        <label for="Yes" asp-for="Input.IsParent">Yes</label>
                    </div>
                    <div>
                        <input id="No" type="radio" asp-for="Input.IsParent" value="No">
                        <label for="No" asp-for="Input.IsParent">No</label>
                    </div>
                </fieldset>
                <span asp-validation-for="Input.IsParent" class="text-danger"></span>
            </div>
            <div class="w-100"></div>
            <div class="col-12 form-group mb-3">
                <label class="mb-1" asp-for="Input.Biog"></label>
                <input asp-for="Input.Biog" class="form-control" />
                <span asp-validation-for="Input.Biog" class="text-danger"></span>
            </div>
            <div class="col-12 form-group mb-3">
                <p>New members of the Blink community must agree to abide by the <a class="text-decoration-none" asp-controller="Home" asp-action="Rules">site rules</a>.</p>
                <ul>
                    <li>Do not bully or harass other members of the Blink community.</li>
                    <li>Respond promptly to any request from the Blink community moderators.</li>
                    <li>Do not post confidential information about anybody without explicit permission.</li>
                    <li>Search for similar discussions before submitting a new one for members' responses.</li>
                </ul>
            </div>
            <div class="col-12 form-check mb-3">
                <input asp-for="Input.HasAccepted" type="checkbox" class="form-check-input" />
                <label class="form-check-label" asp-for="Input.HasAccepted"></label>
                <br />
                <span asp-validation-for="Input.HasAccepted" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary px-6">Register</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        // extend range validator method to treat checkboxes differently
        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function(value, element, param) {
            if(element.type === 'checkbox') {
                // if it's a checkbox return true if it is checked
                return element.checked;
            } else {
                // otherwise run the default validation function
                return defaultRangeValidator.call(this, value, element, param);
            }
        }
    </script>
}